<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>account</title>
    </head>
<body>
    <h1>account</h1>
    <form action="/account" method="post">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">LOGIN</button>
    </form>
    <p>Don't have an account? <a href="/createaccount">Register here</a></p>
</body>
</html>
