<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Account</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
	<nav class="container-fluid">
		<ul>
			<li><strong>Garden Planner</strong></li>
		</ul>
		<ul>
		  <li><a href="/index" role="button">Home</a></li>
		  <li><a href="/gardenplannerform">Virtual Garden Planner</a></li>
		  <li><a href="/plantid">Plant ID Tool</a></li>
		  <li><a href="/planthealth">Plant Welfare Checker</a></li>
		  <li><a href="/account" role="button">Account</a></li>
	  </ul>
	</nav>
	<main class="container">
  <h1>Create an Account</h1>

  <form action="/createaccount" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    
    <button type="submit">Register</button>
  </form>
  
</main>
</body>
</html>
