<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Garden Planner</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <script src="/javascripts/gardenplanner.js"></script>
</head>
<body>
  <nav class="container-fluid">
    <ul>
        <li><strong>Garden Planner</strong></li>
    </ul>
    <ul>
      <li><a href="/index" role="button">Home</a></li>
      <li><a href="/virtualgarden">Virtual Garden Planner</a></li>
      <li><a href="/plantid">Plant ID Tool</a></li>
      <li><a href="/planthealth">Plant Welfare Checker</a></li>
      <li><a href="/account" role="button">Account</a></li>
  </ul>
</nav>

<main class="container">
	<section>
<div id="gardenGrid" class="grid"></div>
</section>
<!-- Draggable Plants -->
<div id="plants">
  <img src="images/rose.webp" id="plant-rose" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/lavender.webp" id="plant-lavender" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/basil.webp" id="plant-basil" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/tulip.webp" id="plant-tulip" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/daisy.webp" id="plant-daisy" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/orchid.webp" id="plant-orchid" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/sunflower.webp" id="plant-sunflower" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/walnut.webp" id="plant-walnut" class="plant" draggable="true" width="50px" height="50px">
  <img src="images/fern.webp" id="plant-fern" class="plant" draggable="true" width="50px" height="50px">
</div>

<!-- sample grid layout when page is loaded -->
<label for="width">Width:</label>
<input type="number" id="width" value="4">
<label for="height">Height:</label>
<input type="number" id="height" value="3">
<button type="button" id="updateGrid">Update Grid</button>




<!-- Save Button -->
<button id="saveGarden" >Save Garden</button>

</main>
</body>
</html>
