<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <title>Greeting</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Garden Planner</strong></li>
        </ul>
        <ul>
          <li><a href="/index" role="button">Home</a></li>
          <li><a href="/gardenplannerform">Virtual Garden Planner</a></li>
          <li><a href="/plantid">Plant ID Tool</a></li>
          <li><a href="/planthealth">Plant Welfare Checker</a></li>
          <li><a href="/account" role="button">Account</a></li>
      </ul>
    </nav>
    <br>

    <br>


    <br>
	<main class="container">
  <h1>Hi <%= username %>, you are logged in!</h1>
  <br>
  <br>
  <h3><a href="/virtualgarden" role="button">View Saved Garden</a></h3>
</main>
</body>
</html>