<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Garden Planner</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Garden Planner</strong></li>
        </ul>
        <ul>
            <li><a href="/index" role="button">Home</a></li>
            <li><a href="/gardenplannerform">Virtual Garden Planner</a></li>
            <li><a href="/plantid">Plant ID Tool</a></li>
            <li><a href="/planthealth">Plant Welfare Checker</a></li>
            <li><a href="/account" role="button">Account</a></li>
        </ul>
    </nav>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Welcome to Your Digital Garden</h2>
                    <h3>Plan, Identify, and Nurture with Ease</h3>
                </hgroup>
                <p>Embark on a virtual journey to design, identify, and care for your garden.</p>
                <h3><a href="/virtualgarden" role="button">Virtual Garden Planner</a></h3>
                <p>Design your dream garden with our interactive tool.</p>
                <h3><a href="/plantid" role="button">Plant Identification Tool</a></h3>
                <p>Discover and learn about various plants instantly.</p>
                <h3><a href="/planthealth" role="button">Plant Welfare Checker</a></h3>
                <p>Ensure your plants are healthy and thriving.</p>
            </section>
        </div>
    </main>
</body>
</html>