<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <title>Plant Identification - Garden Planner</title>
</head>
<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Garden Planner</strong></li>
        </ul>
        <ul>
            <li><a href="/index" role="button">Home</a></li>
            <li><a href="/virtualgarden">Virtual Garden Planner</a></li>
            <li><a href="/plantid">Plant ID Tool</a></li>
            <li><a href="/planthealth">Plant Welfare Checker</a></li>
            <li><a href="/account" role="button">Account</a></li>
        </ul>
    </nav>

    <main class="container">
        <section>
            <hgroup>
                <h2>Plant Welfare Checker</h2>
                <h3>Upload a picture to assess your plant's health and get care suggestions</h3>
            </hgroup>
            <form action="/submit-plant-photo-for-assessment" method="post" enctype="multipart/form-data">
                <label for="plant-image-upload">Upload Plant Image:</label>
                <input type="file" id="plant-image-upload" name="plant-image" accept=".png, .jpg, .jpeg">
                <button type="submit">Assess Plant</button>
            </form>
        </section>
    </main>

</body>

</html>
